# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual Environments
.env
.envrc
.venv
venv/
env/
ENV/
env.bak/
venv.bak/

# PyInstaller
*.spec
*.manifest

# Build artifacts
build/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg
*.egg-info/
.installed.cfg
MANIFEST
target/

# Packaging tools
.Python
.pdm-python
.pdm-build/
.ruff_cache/
__pypackages__/
.pybuilder/
.pytype/
.pyre/
.mypy_cache/
.dmypy.json
dmypy.json

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask
instance/
.webassets-cache

# Scrapy
.scrapy

# IPython / Jupyter
.ipynb_checkpoints
profile_default/
ipython_config.py

# Spyder / Rope
.spyderproject
.spyproject
.ropeproject

# Sphinx docs
docs/_build/

# Editor & IDE configs
.vscode/
.idea/
.abstra/
.cursorignore
.cursorindexingignore

# Marimo
marimo/_static/
marimo/_lsp/
__marimo__/

# PyPI
.pypirc

# Telegram session files
*.session
*.session-journal

# Logs
logs/*
!logs/.gitkeep

# Data directories
data/raw/telegram_messages/*
data/raw/labeled_medical_products/*
data/processed/*
data/images/*
!data/raw/telegram_messages/.gitkeep
!data/processed/.gitkeep
!data/images/.gitkeep

# YOLO model files
*.pt
*.pth

# Database files
*.db
*.sqlite

# Temporary files
*.tmp
*.temp

# Docker Postgres volume
postgres_data/

# dbt artifacts
dbt/target/
dbt/logs/
dbt/dbt_packages/

# Dagster
dagster/
dagster_home/

# macos files
.DS_Store

# training files
runs/
